* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}
/* header */
header {
  position: fixed;
  background-color: #fff;
  width: 1519px;
  height: 80px;
}
.header_fix {
  background-color: transparent;
  height: 90px;
  display: grid;
  align-items: center;
  transition: all 0.5s;
}
.header_fix .navbar-brand {
  font-size: 34px;
  font-weight: 600;
  color: #249f4f !important;
}
.main_header .container {
  width: 1200px;
  height: 56.8px;
  padding: 0 25px;
}
/* nav ul li {
  display: inline-block;
  text-align: center;
} */
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #249f4f;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link::before,
a.dropdown-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 0;
  height: 1px;
  background-color: green;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover,
a.a.dropdown-item:hover {
  color: green;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
a.dropdown-item:hover::before {
  width: 100%;
}
li .searchbtn {
  background-color: rgba(147, 107, 232, 0.05);
  font-size: 16px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  color: #249f4f !important;
  padding: 0;
  vertical-align: middle;
  transition: all 0.5s;
}
li .searchbtn:hover {
  background-color: #249f4f;
  color: white !important;
}
.nav-item .btn {
  padding-top: 12px;
}

/* Light theme */
#myBody {
  background-color: white;
  transition: all 0.5s;
}
#switchButton {
  background-color: white;
  /* border: 1px solid black; */
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark#myBody a {
  color: white;
}
.dark#headerT {
  background-color: #151515;
}
.dark #switchButton {
  background-color: black;
  /* border: 1px solid white; */
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

/* footer */
footer {
  margin: 100px 0;
  background-color: #151515;
  color: #696969;
}

footer h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  color: white;
}

footer ul {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #696969;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.5s;
}
footer .row_left ul {
  padding: 0;
}
footer .footer_content {
  display: flex;
  width: 1180px;
  height: 280px;
  margin: 0 159.6px;
  padding: 16px 25px;
}
footer .footer_content a:hover {
  text-decoration: underline;
  color: #fff;
}
footer .footer_content .social_icon li {
  display: inline;
  padding-right: 5px;
}
footer .footer_content .social_icon li i {
  font-size: 16px;
  padding: 0;
  margin-top: 3px;
}
footer .row_left {
  width: 100%;
}

footer .footer_copyright a {
  text-decoration: none;
  color: red;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.5s;
  opacity: 0.9;
}
footer .footer_copyright a:hover {
  text-decoration: underline;
}
footer .footer_copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.114);
  padding: 24px;
  margin-top: 48px;
}
